// 프로젝트 구성(config) 파일
@import '../index';
@import '../config';

// $im-media-support: false;
// $im-no-media-breakpoint: 'x-lg';

//* -------------------------------------------------------------------------- */

// 사용자 정의 믹스인
@mixin hannna-font($size, $line-height: null, $weight: null) {
  @include font(size $size weight $weight);
  @include text(line-height $line-height);
  @include media('no-motion') {
    @include font(size 20px);
  }
}

//* -------------------------------------------------------------------------- */

// $easings: ease-add(in-euid, cubic-bezier(0.43, 0.16, 0.7, 0.52));

$easings: ease-merge(
  (
    in-euid: cubic-bezier(0.43, 0.16, 0.7, 0.52),
    out-euid: cubic-bezier(0.31, 0.16, 0.56, 0.99),
    inout-euid: cubic-bezier(0.94, 0.01, 0.47, 1.13),
  )
);

.demo {
  background: getColor(black);
  // @debug last(map-keys($colors));
  transition: all 0.3s ease(out-euid);

  @include box-alignment(content, center, center);
}

//* -------------------------------------------------------------------------- */

.usage {
  @include flex-c(column wrap justify-end items-center);
}

.demo {
  @include grid(2, 3);

  @include media('>=x-lg') {
    @include grid-append(3, 2, rem(20px));
  }

  .item {
    @include area(null, 4);
  }
}

.font-demo {
  @include font(size rem(22px) family SpoqaHanSans letter-spacing em(-1px));

  @include hannna-font(rem(14px), 1.6, bold);
}

.text-demo {
  @include text(align center indent 50% transform underline line-height 1.2);
  transition: all 0.3s ease(inout-back);
}

.text-ellipsis-demo {
  @include ellipsis(200px);
}

@include box-sizing-with-selector(content-box, '.demo');

.flexContainer {
  @include flex-container(column wrap items-center justify-start content-end);
}

.flexItem-1 {
  @include flex-item(self-end shrink 0 order 10);
  // @include order(last);
}

.flexItem-2 {
  @include flex(1);
  @include flex(auto);
  @include flex(initial);
  @include flex(none);
}

.gridContainer {
  @include grid(2, 3, rem(10px));
  @include grid-auto(minmax(rem(100px), auto), minmax(rem(80px), 1fr));
  @include items(center, start);
  @include content(space-between, stretch);
}

.gridItem-1 {
  @include row(start-end, 1 4);
  @include col(span, 2);
}

.gridItem-2 {
  @include row(se, 4 5);
  @include col-span(full);
}

.gridItem-3 {
  @include area(1 -1, 2 3);
  @include self(end, end);
}

.mediaDemo {
  @include flex-container(column items-start justify-center);
  background: getColor(white);
  color: getColor(black);

  @include media('>lg') {
    flex-direction: row;
  }

  @include media('>lg', 'dark-mode') {
    background: getColor(black);
    color: getColor(white);
  }
}
