//* ---------------------------------------------------------------------------
//* 사용법: 아래 설정 변수 값을 복사/붙여넣은 후 사용자 정의 값 설정합니다.
//* ---------------------------------------------------------------------------

//* --------------------------------------------------------------------------
/// em 단위 기본 값 설정
$base-em-size: 16px;

/// rem 단위 기본 값 설정
$base-rem-size: 16px;

//* --------------------------------------------------------------------------
/// 컬러 스킴 설정
$colors: (
  black: #010101,
  white: #fefefe,
  gray: #787878,
);

//* --------------------------------------------------------------------------
// 박스 정렬 설정

/// justify-*, align-* 대신 place-* 속성 사용하고자 할 경우 true 설정
$using-place-layout: false;

//* --------------------------------------------------------------------------
// 미디어 쿼리 설정

/// 중단점 설계 (import-media 라이브러리 활용) → 임의의 키워드 사용 가능
$breakpoints: (
  'md': 768px,
  'lg': 1024px,
  'x-lg': 1280px,
  '2x-lg': 1440px,
);

/// 미디어 표현식 설계 (import-media 라이브러리 활용) → 임의의 키워드 사용 가능
$media-expressions: (
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x':
    '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)',
  'retina3x':
    '(-webkit-min-device-pixel-ratio: 3), (min-resolution: 350dpi), (min-resolution: 3dppx)',
);
