@mixin position($position, $args: null) {
  position: $position;

  @if $args != null {
    $top-value: get-match-value-of-keys($args, top t);
    $right-value: get-match-value-of-keys($args, right r);
    $bottom-value: get-match-value-of-keys($args, bottom b);
    $left-value: get-match-value-of-keys($args, left l);

    z-index: get-match-value-of-keys($args, z-index z);
    top: if($top-value, unitless-px($top-value), null);
    right: if($right-value, unitless-px($right-value), null);
    bottom: if($bottom-value, unitless-px($bottom-value), null);
    left: if($left-value, unitless-px($left-value), null);
  }
}

//* -------------------------------------------------------------------------- */
// 단축 믹스인

@mixin static {
  @include position(static, null);
}

@mixin absolute($args: null) {
  @include position(absolute, $args);
}

@mixin relative($args: null) {
  @include position(relative, $args);
}

@mixin fixed($args: null) {
  @include position(fixed, $args);
}

@mixin sticky($args: null) {
  @include position(sticky, $args);
}
