// @include grid-rows(2);
// @include grid-rows(none);
// @include grid-rows(200px);
// @include grid-rows(200px 400px 1fr);
// 참고: https://tailwindcss.com/docs/grid-template-rows

@mixin grid-rows($value: null) {
  // 아무런 값을 전달 받지 않은 경우
  @if $value == null {
    @error 'grid-rows() 믹스인 사용 시, 숫자 또는 none, 단위 있는 숫자, 리스트 값을 전달해야 합니다.';
  }

  // none 값을 전달 받은 경우
  @if $value == 'none' {
    grid-template-rows: none;
  }

  $type: type-of($value);
  $unitless-value: unitless($value);

  // 단위 없는 숫자 값만 전달받은 경우
  @if $type == 'number' and $unitless-value {
    grid-template-rows: repeat($value, minmax(0, 1fr));
  }

  // 단위가 있는 숫자 또는 리스트 값을 전달받은 경우
  @if $type == 'number' and not $unitless-value or $type == 'list' {
    grid-template-rows: $value;
  }
}
