// @include grid-rows(2);
// @include grid-rows(none);
// @include grid-rows(200px);
// @include grid-rows(200px 400px 1fr);
// 참고: https://tailwindcss.com/docs/grid-template-rows

@mixin grid-rows($n: null) {
  // 아무런 값을 전달 받지 않은 경우
  @if $n == null {
    @error 'grid-rows() 믹스인 사용 시, 숫자 또는 none, 단위 있는 숫자, 리스트 값을 전달해야 합니다.';
  }

  // none 값을 전달 받은 경우
  @if $n == 'none' {
    grid-template-rows: none;
  }

  // 단위 없는 숫자 값만 전달받은 경우
  @if type-of($n) == 'number' and unitless($n) {
    grid-template-rows: repeat($n, minmax(0, 1fr));
  }

  // 단위가 있는 숫자 또는 리스트 값을 전달받은 경우
  @if type-of($n) == 'number' and not unitless($n) or type-of($n) == 'list' {
    grid-template-rows: $n;
  }
}
