@mixin radio($font-size: rem(14), $size: rem(18), $radius: rem(9)) {
  @include absolute(left rem(-1000));

  + label {
    cursor: pointer;
    position: relative;

    margin-right: rem(15);
    padding-left: rem(25);

    font-size: $font-size;

    &::before {
      content: '';
      @include absolute(left 0 bottom 0);

      height: $size;
      width: $size;

      border-radius: $radius;
      background-color: alt-color(state-normal, #707070);
      font-family: sans-serif;
    }

    &::after {
      content: '';
      transition: background-color 0.3s;
    }
  }

  &:checked + label::after {
    content: '';
    @include absolute(left rem(5) top rem(3));

    height: rem(8);
    width: rem(8);
    border-radius: rem(15);
    background-color: alt-color(state-active, #185158);
    text-align: center;
  }

  &:focus + label::before {
    box-shadow: 0 rem(1) 0 darken(alt-color(state-focus, #1870d4), 30%);
  }

  &:disabled {
    + label {
      cursor: not-allowed;

      &::before {
        background-color: alt-color(state-disabled, #dedede);
      }
    }

    &:checked + label::after {
      background-color: darken(alt-color(state-disabled, #dedede), 30%);
    }
  }

  @content;
}
