/// 컬러 구성표(Color Scheme)

$colors: (
  black: #010101,
  white: #fefefe,
  gray: #787878,
  state-normal: #707070,
  state-hover: #35a1af,
  state-focus: #1870d4,
  state-active: #185158,
  state-disabled: #dedede,
  state-valid: #219c5e,
  state-invalid: #e72e6c,
) !default;

//* -------------------------------------------------------------------------- */

/// 컬러 값 반환 유틸리티
/// @param {string} $name [null] color 이름
/// @return {color} 등록된 컬러 이름과 전달된 컬러 이름이 매칭 될 경우 컬러 값 반환

@function get-color($name: null) {
  @if has-color($name) {
    @return map-get($colors, $name);
  } @else {
    @error '설정 가능한 컬러 값은 #{map-keys($colors)} 중 하나입니다.';
  }
}

/// 컬러 이름 반환 유틸리티
/// @param {color} $value [null] color 값
/// @return {string} 등록된 컬러 값과 전달된 컬러 값이 매칭 될 경우 컬러 이름 반환

@function get-color-name($value: null) {
  $color-keys: map-keys($colors);
  $color-values: map-values($colors);
  $color-value-index: index($color-values, $value);
  @if $color-value-index {
    @return nth($color-keys, $color-value-index);
  } @else {
    @error '#{$value} 컬러 값과 매칭되는 컬러 이름이 존재하지 않습니다.';
  }
}

/// 컬러 이름 소유 여부 반환 유틸리티
/// @param {string} $name color 이름
/// @return {bool} $colors 맵 안에 color 이름이 존재하는 지 여부 반환

@function has-color($name) {
  @return map-has-key($colors, $name);
}

/// 대체 컬러 유틸리티
/// @param {string} $name color 이름
/// @param {color} $alt-value 대체 color 값
/// @return {color} $colors 맵 안에 color 이름이 존재할 경우 해당 값, 존재하지 않을 경우 대체 값 반환

@function alt-color($name, $alt-value) {
  @return if(has-color($name), get-color($name), $alt-value);
}
