@mixin focus-visible(
  $color: rgba(alt-color(state-focus, #1870d4), 0.7),
  $thickness: 3px
) {
  //* 포커스 적용한 경우 */
  &:focus {
    outline: none;
    box-shadow: 0 0 0 $thickness $color;
    @content;
  }

  //* 마우스로 클릭했을 때 */
  &:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
  }

  //* 키보드로 포커싱 되어 화면에 표시 되어야 하는 경우 */
  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 $thickness $color;
    @content;
  }
}
