@mixin box-sizing-with-selector($value: border-box, $selector: body) {
  #{$selector} {
    box-sizing: $value;
    @include inherit-pseudo-content(box-sizing);
    * {
      box-sizing: inherit;
      @include inherit-pseudo-content(box-sizing);
    }
  }
}

@mixin reset-box-sizing($value: border-box) {
  :root {
    box-sizing: $value;
  }
  @include box-sizing-with-selector($value);
}
