// 참고: https://developer.mozilla.org/en-US/docs/Web/CSS/align-items

@mixin align-items($value, $mode: grid) {
  @if $value == 'normal' {
    align-items: normal;
  }
  @if $value == 'stretch' {
    align-items: stretch;
  }

  @if $value == 'start' {
    align-items: if($mode == grid, start, flex-start);
  }
  @if $value == 'end' {
    align-items: if($mode == grid, end, flex-end);
  }
  @if $value == 'center' {
    align-items: center;
  }

  @if $value == 'baseline' {
    align-items: baseline;
  }
  @if $value == 'first-baseline' {
    align-items: first baseline;
  }
  @if $value == 'last-baseline' {
    align-items: last baseline;
  }
  @if $value == 'safe' {
    align-items: safe center;
  }
  @if $value == 'unsafe' {
    align-items: unsafe center;
  }

  @if $value == 'inherit' {
    align-items: inherit;
  }
  @if $value == 'initial' {
    align-items: initial;
  }
  @if $value == 'unset' {
    align-items: unset;
  }
}
