// 참고: https://developer.mozilla.org/en-US/docs/Web/CSS/align-content

@mixin align-content($value, $mode: grid) {
  @if $value == 'content-start' {
    align-content: if($mode == grid, start, flex-start);
  }
  @if $value == 'content-end' {
    align-content: if($mode == grid, end, flex-end);
  }
  @if $value == 'content-center' {
    align-content: center;
  }
  @if $value == 'content-left' {
    align-content: left;
  }
  @if $value == 'content-right' {
    align-content: right;
  }

  @if $value == 'content-normal' {
    align-content: normal;
  }

  @if $value == 'content-baseline' {
    align-content: baseline;
  }
  @if $value == 'content-first-baseline' {
    align-content: first baseline;
  }
  @if $value == 'content-last-baseline' {
    align-content: last baseline;
  }

  @if $value == 'content-between' {
    align-content: space-between;
  }
  @if $value == 'content-around' {
    align-content: space-around;
  }
  @if $value == 'content-evenly' {
    align-content: space-evenly;
  }
  @if $value == 'content-stretch' {
    align-content: stretch;
  }

  @if $value == 'content-safe' {
    align-content: safe center;
  }
  @if $value == 'content-unsafe' {
    align-content: unsafe center;
  }

  @if $value == 'content-inherit' {
    align-content: inherit;
  }
  @if $value == 'content-initial' {
    align-content: initial;
  }
  @if $value == 'content-unset' {
    align-content: unset;
  }
}
